
\.vscode/

*.acn

*.atfi

*.aux

*.bbl

*.bcf

*.fdb_latexmk

*.blg

*.fls

*.glo

*.ist

*.lof

*.log

*.lot

*.out

*.xml

*.sbl

*.gz

*.toc

467062_Dissertation\.pdf

*.synctex(busy)

*.acr

*.alg

*.glg

*.gls

*.sym

latexmkrc
